    <h3>Creditos de la Aplicación QUIZ-2015-PC</h3>
	
    <p>En el diseño de esta app han participado</p>
	<br />
	<ol>
	   <li>Juan Quemada  - <a href='https://github.com/jquemada'>jquemada</a> </li>
	   <li>Enrique Barra Arias - <a href='https://github.com/ebarra'>ebarra</a></li>
	   <li>Álvaro Alonso - <a href='https://github.com/aalonsog'>aalonsog</a></li>
	   <li>Pedro C. - <a href='https://github.com/pedroip/'>pedroip</a> </li>
	</ol>
	<br />
	
	<p><img src='/images/pit__large.png' width='300px'all='Politica de Privacidad' </p>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/6QvybWBDcwY" frameborder="0" allowfullscreen></iframe>
	