<table>
	<% var i; for (i=0; i<quizes.length; i++) { %>
	  <tr>
	    <td>
		   <a href="quizes/<%= quizes[i].id %>">
		     <%= quizes[i].pregunta %>
		   </a>
        </td>
      </tr>		
	<% } %>
	<% if (quizes.length==0) { %>
	   <tr><td>No hay Preguntas</td></tr>
	<% } %>
</table>

<% if (busqueda) { %>
      <p> * Resultado de aplicar el filtrado de [<strong><%= busqueda %></strong>] en la base de datos de pregutas</p>
<% } else { %>
      <p> * Relación completa de la base de datos de preguntas </p>
<% } %> 

<br>

<form method='get' action='/quizes'>
	    <p>Filtro de Selección de Preguntas:
		<input type='text' name='search' value='<%= busqueda %>' />
		<input type='submit' value='Buscar'></p>
</form>

<p><a href="/quizes/new"><button type='button'>Crear Nueva Pregunta</button></a></p>


